## Ways to create Dataframe 5 methods

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('weathear.csv')

#### <b> Create Dataframe using csv file.

In [3]:
df

        day  temprature  windspeed  event
0  1/1/2017          32          6   Rain
1  1/2/2017          35          7  Sunny
2  1/3/2017          28          2   Snow
3  1/4/2017          24          7   Snow
4  1/5/2017          32          4   Rain
5  1/6/2017          31          2  Sunny

#### <b> To create a dataframe from Excel File

In [ ]:
df= pd.read_excel('weathear.xlsx', 'sheet1')

#### <b> Creating dataframe using Python Disctionary

In [6]:
weather_df = {
            'day':['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
            'temprature':[32,35,28,24,32,31],
            'windspeed':[6,7,2,7,4,2],
            'event':['Rain', 'Sunny' , 'Snow', 'Snow', 'Rain', 'Sunny']
}
df = pd.DataFrame(weather_df)

In [7]:
df

        day  temprature  windspeed  event
0  1/1/2017          32          6   Rain
1  1/2/2017          35          7  Sunny
2  1/3/2017          28          2   Snow
3  1/4/2017          24          7   Snow
4  1/5/2017          32          4   Rain
5  1/6/2017          31          2  Sunny

#### <b> Creating dataframe using tupels list

In [10]:
weather_df = [
    ('1/1/2017',32,6,'Rain'),
    ('1/2/2017',35,7,'Sunny'),
    ('1/3/2017',28,2,'Snow')
]

col_name = ["day", "temprature", "windspeed", "event"]
df = pd.DataFrame(weather_df, columns= col_name)

In [11]:
df

        day  temprature  windspeed  event
0  1/1/2017          32          6   Rain
1  1/2/2017          35          7  Sunny
2  1/3/2017          28          2   Snow

#### <b> Creating dataframe using List Disctionary value.

In [12]:
weather_df = [
    {'day':'1/1/2017','temprature':32,'windspeed':6,'event':'Rain'},
    {'day':'1/2/2017','temprature':35,'windspeed':7,'event':'Sunny'},
    {'day':'1/3/2017','temprature':28,'windspeed':2,'event':'Snow'}

]

In [13]:
df = pd.DataFrame(weather_df)

In [14]:
df

        day  temprature  windspeed  event
0  1/1/2017          32          6   Rain
1  1/2/2017          35          7  Sunny
2  1/3/2017          28          2   Snow